<html>
<head>
    <title>JasuBerry</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="bootstrap.css">
</head>
<body>

    <nav class="navbar navbar-inverse" style="border-radius: 0;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Soviet Working Group Official</a>
        </div>
    </nav>

    <div class="container">
        <div class="jumbotron text-center">
            <h2>Login with Facebook</h2>
            <a href="/auth/facebook" class="btn btn-primary">Facebook</a>
        </div>
    </div>

</body>
</html>