<html>
<head>
    <title>JasuWeb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="bootstrap.css">
</head>
<body>
	
	<nav class="navbar navbar-inverse" style="border-radius: 0;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">JasuWeb</a>
            <ul class="nav navbar-nav navbar-right">
            	<li><a href="/logout">Log out</a></li>
          	</ul>
        </div>
    </nav>

    <% if (user.admin) { %>
    	<div class="container">
    		<div class="jumbotron text-center">
    			<h2>Admin options</h2>
				<a href="/manageaccounts" class="btn btn-default">Manage accounts</a><br>
        		<a href="/managegroups" class="btn btn-default">Manage groups</a><br>
    		</div>
    	</div>
    <% } %>

    <div class="container">
    	<div class="jumbotron text-center">
    		<h2>My groups</h2>
			<ul style="list-style-type: none;">
				<% for (var i=0; i<groups.length; i++) { if (groups[i].users.indexOf(user.id) !== -1) { %>
   					<li style="font-size: 130%;"><a href="/profile/group/<%= groups[i].id %>"><%= groups[i].name %></a></li>
				<% } } %>
			</ul>
    	</div>
    </div>

</div>
</body>
</html>